<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4"
>
  <div *ngFor="let park of parks" [routerLink]="['/park-details', park.parkCode]" style="cursor:pointer;" class="bg-white p-4 rounded-lg shadow-md">
    <div class="flex justify-between items-start">
      <h2 class="text-xl font-semibold mb-2 text-rocks-canyons">
        {{ park.fullName }}
      </h2>

      <!-- <button
      title={
        isParkVisited(park.parkCode)
          ? "Click to remove park from your list of visited parks."
          : "Click to add park to your list of visited parks."
      }
      class="flex-shrink-0"
      onClick={() => {
        handleSetVisited(park.parkCode);
      }}
    >
      <Image
        src={
          isParkVisited(park.parkCode)
            ? "/icons/checked.png"
            : "/icons/unchecked.png"
        }
        alt={isParkVisited(park.parkCode) ? "Visited" : "Not Visited"}
        width={50}
        height={50}
        class="cursor-pointer transform transition-transform duration-200 hover:scale-125"
      />
    </button>
    </div> -->

      <div class="flex flex-col items-center justify-center relative">
        <p class="text-gray-700">{{ park.description }}</p>
        <img
          *ngIf="park.images[0]?.url"
          [src]="park.images[0].url"
          [alt]="park.images[0].altText"
          width=400
          height=400
        />
      </div>
    </div>
  </div>
</div>
